* {
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
    background-color: var(--cor1);
    font-family: "Roboto", sans-serif;
}

:root {
    --cor1: #cac9c7;
    --cor2: #333436;
    --cor3: #61ac29;
}

body {
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

audio {
    display: none;
    position: fixed;
    top: 0;
    width: 0px;
}

header {
    display: flex;
    background-color: var(--cor2);
    align-items: center;
    width: 100%;
    overflow: hidden;
}

header img {
    display: block;
    background-color: var(--cor2);
    float: left;
    margin-left: 25px;
    width: 150px;
    height: 100px;
    text-align: right;
}

menu {
    display: flex;
    background-color: var(--cor2);
    width: 100%;
}

menu>ul>li {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background-color: var(--cor2);
    font-size: 3rem;
    padding: 10px;
}

menu ul {
    display: flex;
    background-color: var(--cor2);
    text-align: center;
    justify-content: end;
    margin-right: 20px;
}

menu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: var(--cor2);
    color: var(--cor1);
}

menu a:hover {
    background-color: var(--cor3);
    text-align: center;
    justify-content: center;
    color: var(--cor2);
    padding: 10px;
    border-radius: 25px;
    transition: .8s;
}

i#menu_burguer {
    display: none;
}

#menu_burguer a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 20px;
    transition: .7s;
}

#div_apresentacao {
    /*background-image: url('../medias/img/logo_reduzido.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px auto 0 auto;
    height: 250px;
    animation: square-in-center 6s infinite;
    padding: 15px;
}

#div_apresentacao img {
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
}

@keyframes square-in-center {
    from {
        clip-path: inset(90% 90% 90% 90%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}


/*#logo {
    justify-content: center;
    animation: square-in-center 6s 3s;
    overflow: hidden;
}*/

.parag {
    height: 50px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 800px;
        height: 30px;
    }
}

p {
    animation: typing 8s steps(40) normal infinite both;
    text-align: center;
    font-size: 9em;
    font-family: "Open Sans", sans-serif;
    margin: 20px auto 15px auto;
    white-space: nowrap;
    overflow: hidden;
}