* {
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
    background-color: var(--cor1);
    font-family: "Roboto", sans-serif;
}

:root {
    --cor1: #cac9c7;
    --cor2: #333436;
    --cor3: #61ac29;
}

body {
    justify-content: center;
    align-items: center;
}

audio {
    display: block;
    position: fixed;
    top: 0;
    width: 0px;
}

header {
    display: flex;
    align-items: center;
    max-height: 120px;
    overflow: hidden;
}

nav {
    background-color: var(--cor2);
    width: 100%;
    padding-right: 25px;
}

header img {
    display: block;
    float: left;
    margin-left: 25px;
    width: 150px;
    height: 100px;
    text-align: right;
}

nav a {
    display: block;
    float: right;
    text-decoration: none;
    font-size: 6em;
    background-color: var(--cor2);
    color: #cac9c7;
    margin-top: 70px;
    margin-bottom: 3px;
    padding: 5px;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 20px;
    transition: .7s;
}

main {
    width: 90vw;
    align-items: center;
    justify-content: center;
}

#div_apresentacao {
    /*background-image: url('../medias/img/logo_reduzido.png');*/
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: auto;
    width: 90%;
    height: 250px;
    animation: square-in-center 6s infinite;
    padding: 15px;
}

@keyframes square-in-center {
    from {
        clip-path: inset(90% 90% 90% 90%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}


/*#logo {
    justify-content: center;
    animation: square-in-center 6s 3s;
    overflow: hidden;
}*/

.parag {
    height: 50px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 800px;
        height: 30px;
    }
}

p {
    animation: typing 8s steps(40) normal infinite both;
    text-align: center;
    font-size: 9em;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
}